<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Chat Screen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="chat-container" #chatcontainer>
        <ng-container *ngFor="let message of messages">
          <div class="row">
            <div class="offset-6 col-6 text-right">
            <div class="chat-bubble user-bubble mr-5 mt-2 float-right" *ngIf="message.Type == type.USER">{{message.Message}}</div>
          </div>
        </div>
          <div class="row">
            <div class="col-6 text-left">
            <div class="chat-bubble bot-bubble ml-5 mt-2 float-left" *ngIf="message.Type == type.BOT">{{message.Message}}</div>
          </div>
        </div>
          </ng-container>
      </div>
    </div>
  </div>
  <div class="input-group my-3">
    <input type="text" class="form-control" [(ngModel)]="userinput" (keyup.enter)="sendBotAQuery()" placeholder="Type your message...">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary bg-primary" style="color: black;" type="button" (click)="sendBotAQuery()" [disabled]="userinput.length < 1">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div *ngIf="messages.length > 1">
    <p> <span class="text-primary text-underline" (click)="SaveToFile()">Click Here</span> to download the chat history. <i class="fa fa-download" aria-hidden="true" (click)="SaveToFile()"></i> </p>
  </div>
</div>